{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/todos.css"/>
{% endblock %}

{% block title %}TODO list | Chengs.site{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>TODO means to do!!</h1>
</div>
{% include 'todo_list/_todo_vue.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://vuejs.org/js/vue.js"></script>
<script src="/static/js/todo_vue.js"></script>
{% endblock %}
