{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Chengs.site{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>欢迎来到Cheng的个人站点</h1>
</div>
<div class="page-content">
    <div style="width:68%;float:left;height:500px">
        <p>我是一具备控制理论背景的在沪web开发从业者。<br />
           我的长期目标是将控制算法引入IT基础设施(非硬件)建设中，拓宽控制科学的应用面。</p>
        <p>庆幸我自身一波三折的经历使我没有变成灰色模板人群中的一员。<br />最后 我愿将我视角所见分享予你。</p>
    </div>
    <div style="width:1px;border:1px solid grey;float:left;height:100px"><!--垂分线--></div>
    <div style="width:30%;float:left;height:500px">
        <div align="center">
            <img src="http://cn.gravatar.com/avatar/44b82654c1cc91adbd7c4a5d206fadcb?s=100&d=identicon&r=g"/>
            <p>
                <br />
                <a href="https://github.com/Infixz">Github</a><br />
                <a href="http://weibo.com/alwayschengs?from=profile&wvr=6">Weibo</a>
            </p>
        </div>
    </div>
    <div style="clear:both">
        <hr />
        <p>最近文章</p>
    </div>
</div>
{% endblock %}
